# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compilación / build
dist/
*.log

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.backup

# Archivos empaquetados
*.zip

# Dependencias lock (opcional, depende si lo quieres versionar)
# package-lock.json
# yarn.lock

# Archivos del sistema
.DS_Store
Thumbs.db

# VSCode configs
.vscode/
